{% extends "layout.html" %}

{% block title %} Add - {% endblock %}


{% block content %}

<section class="container mt-4">
    <div class="row justify-content-center">
        <div class="mt-3 mb-3"> 
            <h3> Ajouter un nouveau equipement: </h3>
        </div>

        <div>
            <form method="POST" action="/equipement/add-equipement">
                
                <div class="form-group row mb-2">
                    <label  class="col-sm-3 col-form-label"> Nom </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="inputName" placeholder="TEXT*" value="">
                    </div>
                </div>                        

                <div class="form-group row mb-2">
                    <label class="col-sm-3 col-form-label"> Adresse IP  </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="ip" placeholder="TEXT  *" value="">
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-sm-3 col-form-label"> Type d'équipement </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="type" placeholder="hôte ou routeur" value="">
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-sm-10">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-plus"></i> Ajouter </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

{% endblock %}



